* {
    padding: 0px;
    margin: 0px;
}

body {
    background: linear-gradient(-45deg, #090040, #471396, #B13BFF, #bddb63);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}


html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

i {
    color: aqua;
}

i:hover {
    cursor: pointer;
}


/*Header seaction styleing*/

/*Navbar styleing*/

.navbar {
    box-shadow: 20px 20px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(8.5px);
    -webkit-backdrop-filter: blur(8.5px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    padding: 12px;
    z-index: 2;
}

.navbar-close {
    display: none;
}

.navbar-open {
    display: none;
}


.navbar .heading {
    color: white;
}

.navbar .navbar-items {
    display: flex;
    gap: 30px;
    list-style: none;
}

.navbar-items .navbar-item {
    font-size: 20px;
    margin-right: 40px;
    color: whitesmoke;
}

.navbar-items .navbar-item:hover {
    cursor: pointer;
    border-bottom: 4px solid orange;
}


/* Main seaction styleing*/

.main-seaction {
    padding: 50px 120px;
    height: 100vh;
}

.main-seaction-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
    margin-top: 150px;
}

.main-seaction-img {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    transform: translateY(-400px);
    opacity: 0;
    animation: slide 2s ease-out forwards;
}

@keyframes slide {
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.main-seaction-words {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.main-seaction-word {
    color: white;

}

.typeing-animation {
    color: aqua;
    overflow: hidden;
    border-right: 3px solid;
    white-space: nowrap;
    display: flex;
    width: 300px;
    animation: type 4s steps(80) infinite,
        step-end infinite;
    text-transform: uppercase;
}

@keyframes type {

    from {
        width: 0;
    }
}

@keyframes blink {

    from,
    to {
        border-color: transparent;
    }

    50% {
        border-color: orange;
    }
}

.main-seaction-icon {
    width:250px;
    display: flex;
    gap: 0px 10px;
}

.main-seaction-word {
    font-size: 22px;
}

#main-seaction-icon1 {
    padding: 8px 10px;
    color: aqua;
    border: 1px solid aqua;
    border-radius: 50%;
    font-size: 24px;
}

#main-seaction-icon2 {
    padding: 8px 10px;
    color: aqua;
    font-size: 24px;
    border: 1px solid aqua;
    border-radius: 50%;
}

#main-seaction-icon3 {
    padding: 8px 10px;
    font-size: 24px;
    color: aqua;
    border: 1px solid aqua;
    border-radius: 50%;
}

#main-seaction-icon1:hover {
    cursor: pointer;
}

#main-seaction-icon2:hover {
    cursor: pointer;
}

#main-seaction-icon3:hover {
    cursor: pointer;
}

.main-seaction-img {
    box-shadow: 20px 5px 50px aqua, -20px -5px 50px aqua;
    border: 5px solid white;
}

.contact-button {
    padding: 10px 15px;
    width: 110px;
    background-color: aqua;
    border-radius: 20px;
    border: none;
    box-shadow: 10px 0px 30px aqua, -0px -10px 30px aqua;
    margin-top: 5px;
    outline: none;
    color: black;
    font-size: 22px;
}

.contact-button:hover {
    cursor: pointer;
}

/*About-seaction styleing*/

.about-seaction {
    padding: 100px 70px;
}

.about-seaction-text {
    width: 50%;
}

.about-seaction-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about-seaction-heading {
    color: white;
    margin-bottom: 30px;
    border-bottom: 3px solid orange;
    width: 140px;
    color: aqua;
}

.about-seaction-tittle {
    color: white;
    margin-top: 10px;
}

.about-seaction-words {
    color: white;
    margin-top: 15px;
    line-height: 28px;
}

.about-seaction-button {
    outline-offset: white;
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 20px;
    background-color: aqua;
    border: none;
    outline: none;
    box-shadow: 10px 0px 30px aqua -10px 30px aqua;
}

.about-seaction-button:hover {
    cursor: pointer;
}

/*skill seaction styleing*/

.skills-seaction {
    padding: 50px 120px;
    height: 50vh;
}

.skills-seactions {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
    margin-top: 100px;
}

.skills-seaction-heading {
    color: aqua;
    width: 270px;
    border-bottom: 3px solid orange;
}

.skill-seaction1 {
    background-color: rgb(186, 219, 249);
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    border-radius: 10px;
}

.skill-seaction1:hover {
    cursor: pointer;
    box-shadow: 0px 3px 20px aqua, -3px -3px 20px green;
    scale: 1.1;
}

.fa-code,
.fa-hard-drive,
.fa-paintbrush {
    color: rgba(0, 8, 121, 0.37);
    font-size: 35px;
}

.skill-seaction1-para {
    font-size: 24px;
}

/*contact seaction styleing*/
.contact-seaction {
    padding: 50px 120px;
    height: 70vh;
}

.contact-seaction-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    margin-top: 80px;
}

.contact-seaction-heading {
    color: aqua;
    border-bottom: 3px solid orange;
    width: 127px;
}

.contact-seaction-subheading,
.contact-seaction-para,
.contact-seaction-email,
.contact-seaction-number {
    color: white;
}

.contact-seaction-divder {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.contact-icons {
    display: flex;
    gap: 10px;
}

.contact-seaction-inputs {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 50px;
}

.contact-seaction-inputs,
.contact-seaction-input {
    padding: 10px 0px;
}

.contact-seaction-button {
    padding: 10px 20px;
    width: 100px;
    background-color: aqua;
    border-radius: 20px;
    border: 1px solid;
    box-shadow: 5px 0px 30px aqua, -0px -5px 30px aqua;
    margin-top: 5px;
}

.contact-seaction-button:hover {
    cursor: pointer;
}

/*footer seaction styleing*/
.footer-seaction {
    background-color: rgb(48, 16, 78);
}

.footer-seaction-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 20px 20px;
    gap: 20px;
}

.footer-seaction-numbers {
    display: flex;
    gap: 10px;
    align-items: center;
}

.footer-seaction-email {
    font-size: 22px;
}

.footer-seaction-number,
.footer-seaction-email {
    color: white;
}

.footer-seaction-number,
.footer-seaction-email:hover {
    cursor: pointer;
}

.footer-seaction-icon {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}

@media screen and (min-width:900px) and (max-width:1200px) {

    /* Main Seaction Styleing*/

    .main-seaction {
        padding: 50px 70px;
        height: 100vh;
    }

    .main-seaction-img {
        width: 280px;
        height: 280px;
        margin-left: 40px;
    }

    /* About Seaction Styleing*/

    .about-seaction-text {
        width: 100%;
        margin-left: 50px;
    }

    /* Skills Seaction Styleing*/

    .skills-seaction {
        height: 80vh;
    }

}

@media screen and (max-width:896px) {

    /* Main Seaction Styleing*/

    .main-seaction-img {
        width: 250px;
        height: 250px;
        margin-left: 80px;
    }

    .main-seaction {
        padding: 50px 40px;
        height: 100vh;
    }

    .main-seaction-words {
        margin-left: 50px;
    }

    /* contact seaction syleing */

    .contact-seaction {
        padding: 50px 120px;
        height: 100vh;
    }

    /* About Seaction Styleing*/

    .about-seaction-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 30px;
    }

    .about-seaction-text {
        width: 100%;
        margin-left: 30px;
    }

    /* Skills Seaction Styleing*/
    .skills-seaction {
        padding: 50px 120px;
        height: 100vh;
    }

    /* Contact Seaction Styleing*/

    .contact-seaction-divder {
        margin-left: 50px;
    }
}

@media screen and (min-width:620px) and (max-width:840px) {

    /* Navbar seaction styleing */

    .navbar .navbar-items {
        flex-direction: column;
        position: absolute;
        left: 0;
        top: 0;
        background-color: whitesmoke;
        width: 300px;
        height: 100vh;
        gap: 80px;
        align-items: center;
        justify-content: center;
        transform: translateX(-400px);
    }

    .navbar-items .navbar-item {
        color: black;
    }

    .navbar-close {
        display: block;
        padding: 10px 20px;
        border-radius: 20px;
        background-color: orange;
        margin-right: 25px;
    }

    .navbar-close:hover {
        cursor: pointer;
        background-color: aqua;
        color: black;
    }

    .navbar-open {
        display: block;
        margin-right: 50px;
        padding: 10px 20px;
        background-color: orange;
    }

    .navbar-open:hover {
        background-color: whitesmoke;
        cursor: pointer;
    }

    /* Main seaction styleing */

    .main-seaction-content {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        gap: 30px;
        margin-top: 50px;
    }

    .main-seaction-img {
        width: 250px;
        height: 250px;
        margin-left: 0px;
    }

    /* contact seaction styleing */

    .contact-seaction {
        padding: 50px 120px;
        height: 105vh;
    }

}

@media screen and (min-width:420px) and (max-width:621px) {

    /* Navbar seaction styleing */

    .navbar .navbar-items {
        flex-direction: column;
        position: absolute;
        left: 0;
        top: 0;
        background-color: whitesmoke;
        width: 300px;
        height: 100vh;
        gap: 80px;
        align-items: center;
        justify-content: center;
        transform: translateX(-400px);
    }

    .navbar-items .navbar-item {
        color: black;
    }

    .navbar-close {
        display: block;
        padding: 10px 20px;
        border-radius: 20px;
        background-color: orange;
        margin-right: 25px;
    }

    .navbar-close:hover {
        cursor: pointer;
        background-color: aqua;
        color: black;
    }

    .navbar-open {
        display: block;
        margin-right: 50px;
        padding: 10px 20px;
        background-color: orange;
    }

    .navbar-open:hover {
        background-color: whitesmoke;
        cursor: pointer;
    }

    /* Main seaction styleing */

    .main-seaction-content {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        gap: 20px;
        margin-top: 80px;
    }

    .main-seaction-img {
        width: 200px;
        height: 200px;
        margin-left: 0px;
    }

    .main-seaction-word {
        font-size: 16px;
    }

    .main-seaction-words {
        margin-top: 20px;
    }

    /* About seaction styleing */

    .about-seaction {
        padding: 70px;
    }

    .about-seaction-text {
        width: 100%;
        margin-left: 30px;
        margin-top: 30px;
    }

    /* Skills seaction styleing */

    .skills-seaction {
        padding: 70px 100px;
        height: 100vh;
    }

    /* Contact seaction styleing */

    .contact-seaction-divder {
        margin-left: 0px;
    }

    .contact-seaction-inputs {
        margin-left: 0px;
    }

    .contact-seaction {
        padding: 50px 120px;
        height: 110vh;
    }
}
@media screen and (max-width:420px) {

    /* Navbar seaction styleing */

    .navbar .navbar-items {
        flex-direction: column;
        position: absolute;
        left: 0;
        top: 0;
        background-color: whitesmoke;
        width: 300px;
        height: 100vh;
        gap: 80px;
        align-items: center;
        justify-content: center;
        transform: translateX(-400px);
    }

    .navbar-items .navbar-item {
        color: black;
    }

    .navbar-close {
        display: block;
        padding: 10px 20px;
        border-radius: 20px;
        background-color: orange;
        margin-right: 25px;
    }

    .navbar-close:hover {
        cursor: pointer;
        background-color: aqua;
        color: black;
    }

    .navbar-open {
        display: block;
        margin-right: 50px;
        padding: 10px 20px;
        background-color: orange;
    }

    .navbar-open:hover {
        background-color: whitesmoke;
        cursor: pointer;
    }

    /* Main seaction styleing */

    .main-seaction-content {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        gap: 20px;
        margin-top: 80px;
    }

    .main-seaction-img {
        width: 200px;
        height: 200px;
        margin-left: 0px;
    }

    .main-seaction-word {
        font-size: 15px;
    }

    .main-seaction-words {
        margin-top: 20px;
    }

    /* About seaction styleing */

    .about-seaction {
        padding: 70px;
    }

    .about-seaction-text {
        width: 100%;
        margin-left: 30px;
        margin-top: 30px;
    }

    /* Skills seaction styleing */

    .skills-seaction {
        padding: 70px 100px;
        height: 100vh;
    }

    /* Contact seaction styleing */

    .contact-seaction-divder {
        margin-left: 0px;
    }

    .contact-seaction-inputs {
        margin-left: 0px;
    }

    .contact-seaction {
        padding: 50px 120px;
        height: 110vh;
    }
}

@media screen and (max-width:320px) {

    /* Navbar seaction styleing */

    .navbar .navbar-items {
        flex-direction: column;
        position: absolute;
        left: 0;
        top: 0;
        background-color: whitesmoke;
        width: 020px;
        height: 100vh;
        gap: 50px;
        align-items: center;
        justify-content: center;
        transform: translateX(-150px);
    }

    .navbar-items .navbar-item {
        color: black;
    }

    .navbar-close {
        display: block;
        padding: 10px 20px;
        border-radius: 20px;
        background-color: orange;
        margin-right: 25px;
    }

    .navbar-close:hover {
        cursor: pointer;
        background-color: aqua;
        color: black;
    }

    .navbar-open {
        display: block;
        margin-right: 50px;
        padding: 10px 20px;
        background-color: orange;
    }

    .navbar-open:hover {
        background-color: whitesmoke;
        cursor: pointer;
    }

    /* Main seaction styleing */

    .main-seaction-content {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        gap: 20px;
        margin-top: 80px;
        margin-left: 40px;
    }

    .main-seaction-img {
        width: 150px;
        height: 150px;
        margin-left: 0px;
    }

    .main-seaction-word {
        font-size: 14px;
    }

    .main-seaction-words {
        margin-top: 20px;
    }

    /* About seaction styleing */

    .about-seaction {
        padding: 70px;
        height: 200vh;
    }

    .about-seaction-text {
        width: 100%;
        margin-left: 30px;
        margin-top: 30px;
    }

    /* Skills seaction styleing */

    .skills-seaction {
        padding: 70px 100px;
        height: 100vh;
    }

    /* Contact seaction styleing */

    .contact-seaction-divder {
        margin-left: 0px;
         height: 200vh;
    }

    .contact-seaction-inputs {
        margin-left: 0px;
    }

    .contact-seaction {
        padding: 50px 120px;
        height: 110vh;
    }
}



